<tr>
    <td><%= note.title %></td>
    <td><%= link_to 'Edit', edit_note_path(note), :class => "btn btn-success" %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: {confirm: 'Are you sure?', remote: true }, class:"delete btn btn-danger" %></td>
</tr>