<p id="notice"><%= notice %></p>

<div>
<div id="new-note">
<%= link_to 'New Note', new_note_path, remote: true, :class => "btn btn-secondary mb-5" %>
</div>
<br>
<table id="notes" class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @notes %>
  </tbody>
</table>
</div>
