<div class="mt-5 mb-5">
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
  <p>
    <strong>Title:</strong>
    <%= @note.title %>
  </p>

  <div>
    <%= link_to 'Edit', edit_note_path(@note), :class => "btn btn-primary" %>
    <%= link_to 'Back', notes_path, :class => "btn btn-light" %>
  </div>
</div>