<footer class="footer">

  <div class="text-center py-3">Miguel González Herrera
    <a href="www.linkedin.com/in/miguel-gonzalez-herrera" target="blank"><i class="fab fa-linkedin"></i></a> 
  </div>

</footer>