<header class="header">

  <div class="text-center py-3">
    <%= image_tag("alkimii.jpg", :alt => "alkimii", style: 'height:100px;width:100px;') %>
    <h3>SPA on Rails using Jquery and AJAX</h3>
  </div>

</header>